/******************************************************************
                              Static
Styles that don't need to change / Constrained by parent container.
******************************************************************/
.buttons-container {
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin: 0px 5px;
  position: absolute;
  width: 55px;
}

.clear-search-btn {
  background-color: white;
  border: none;
  color: inherit;
  font-size: 16px;
}

.dropdown-menu-container {
  background-color: inherit;
  border: 2px solid lightgrey;
  border-radius: 5px;
  box-shadow: 5px 5px 5px lightgrey;
  color: inherit;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  position: absolute;
  max-height: 216px;
  left: 0px;
  right: 0px;
  top: 45px;
  z-index: 10;
}

.menu-option {
  display: flex;
  height: 36px;
  align-items: center;
  justify-content: space-between;
  line-height: 36px;
}

.menu-option:hover {
  cursor: pointer;
  background: lightskyblue;
}

.menu-option:focus {
  background: lightskyblue;
}

img {
  height: 25px;
  width: 25px;
}

.separator {
  align-self: stretch;
  background-color: lightgrey;
  box-sizing: border-box;
  margin: 8px 0px;
  width: 1px;
  height: 20px;
}

.select-menu-container input {
  background-color: inherit;
  border: 2px solid lightgrey;
  border-radius: inherit;
  color: inherit;
  font-size: 18px;
  height: 36px;
  padding: 10px;
  width: 100%;
}

::placeholder {
  color: lightgrey;
}


/***************************************************
                    Default
Settings if no prop attributes are provided by user.
***************************************************/
.select-menu-container {
  background-color: white;
  border-radius: 5px;
  display: flex;
  color: black;
  justify-content: flex-end;
  position: relative;
  min-height: 0px;
  max-height: 216px;
  width: 100%;
  min-width: 10%;
}


/**********************
        Floated
**********************/
.select-menu-container.left.floated {
  margin-right: auto;
}
.select-menu-container.right.floated {
  margin-left: auto;
}

.select-menu-container.centered {
  margin: 0 auto;
}

/**********************
          Size
**********************/
.select-menu-container.mini.size {
  width: 10%;
}

.select-menu-container.small.size {
  width: 25%;
}

.select-menu-container.medium.size {
  width: 50%;
}

.select-menu-container.full.size {
  width: 100%;
}

/**********************
      Disabled
**********************/
.select-menu-container.disabled {
  pointer-events: none;
  opacity: 0.45;
}

/**********************
      Striped Menu
**********************/
.menu-option.striped:nth-child(even) {
  background-color: lightgrey;
}